# ======================================================================================
# Copyright and other protections apply. Please see the accompanying LICENSE file for
# rights and restrictions governing use of this software. All rights not expressly
# waived or licensed are reserved. If that file is missing or appears to be modified
# from its original, then please contact the author before viewing or using this
# software in any capacity.
# ======================================================================================

# Project
/.coverage
/.coverage.*
/.jupyterlite.doit.db
/build/
/dist/
/docs/index.md
/docs/jupyter/
/docs/license.md
/dyce/_version.py
/site/
__pycache__/
*.py[oc]
*.egg-info
.venv*/

# Common OS/app generated entities
.DS_Store
.DS_Store?
._*
.~*
Thumbs.db
desktop.ini
ehthumbs.db
