# -*- encoding: utf-8 -*-
# ======================================================================
# Copyright and other protections apply. Please see the accompanying
# LICENSE and CREDITS files for rights and restrictions governing use of
# this software. All rights not expressly waived or licensed are
# reserved. If those files are missing or appear to be modified from
# their originals, then please contact the author before viewing or
# using this software in any capacity.
# ======================================================================

# Various build/test entities
*.egg
*.egg-info/
*_flymake.py
.mypy_cache/
.pytest_cache/
/.cache/
/.coverage
/.eggs/
/.tox/
/build/
/dist/
/docs/_build/
/docs/_static/
/htmlcov/
__pycache__/
flycheck_*.py

# Compiled objects
*.class
*.com
*.dll
*.exe
*.o
*.py[cdo]
*.so
dropin.cache
node_modules/

# Packages
*.7z
*.bz2
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.xz
*.zip

# Logs, databases, etc.
*.err
*.log
*.log.[0-9]*
*.out
*.pid
*.sqlite
nohup.out

# OS/app generated entities
.DS_Store
.DS_Store?
.Spotlight-V100/
.Trashes/
._*
.~*
Thumbs.db
desktop.ini
ehthumbs.db

# Exceptions
